Package: com.xu.chevronv3
Name: ChevronV3
Depends: mobilesubstrate, preferenceloader
Version: 1.0.18-88+roothide-log-path
Architecture: iphoneos-arm64
Description: New generation for testing.
Maintainer: xu
Author: xu
Section: Tweaks
